%section {
  width: 100%;
  & .container {
    width: 90%;
    @media (min-width: 620px) {
      width: 80%;
    };
    @media (min-width: 1000px) {
      width: 1000px;
    };
    margin: auto;
    & h1 {
      color: $color-font-secondary;
    }
  }
}

%padding {
  & .container {
    padding-top: 5vh;
    @media (min-width: 768px) {
      padding-top: 15vh;
    }
  }
}

%sectionGrid {
  & .container {
    display: grid;
    grid-template-columns: 1fr;
    @media (min-width: 768px) {
      grid-template-columns: 1.5fr 2fr;
      grid-gap: 2em;
    }
  }
}
%form-format {
  width: $form-width;
  border: 2px solid $color-background-four;
  border-radius: 5px;
  padding: 5px;
}
