@mixin mq-mobile ($width, $height, $orientation, $img) {
  @media (min-width: $width)
    and (min-height: $height)
    and (orientation: $orientation) {
      background: url($img) no-repeat center center fixed;
      background-size: cover;
    };
};

@mixin mq-break ($brk-point) {
  @media (min-width: $brk-point) {
    @content;
  };
};

@mixin pageBG($color) {
  background: $color;
}

@mixin marginBottom {
  margin-bottom: 2em;
}
