.about {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #6092ca;
  z-index: 25;
  & .backdrop {
    background: white;
    width: 80vw;
    height: calc(100vh - 137px);
    margin: calc(10vh + 68.5px) 10vw calc(10vh - 137px);
    border-radius: 10px;
  }
}
