.topSpacer {
  height: 25vh;
}

.header-cont {
  padding: 0.5em;
  color: $color-font-secondary;
  text-align: center;
  background: $color-background-primary;
  border-top: 5px solid $color-background-tertiary;
  border-bottom: 5px solid $color-background-tertiary;
  @media (min-width: 768px){
    padding: 2em;
  }
  & h1 {
    font-family: 'Fahkwang', sans-serif;
    font-size: 2em;
    margin: 0;
    @media (min-width: 768px){
      font-size: 5em;
    }
  }
  & .quote-wrap {
    & p {
      font-size: 1em;
      margin: 0;
      @media (min-width: 768px) {
        font-size: 2em;
      }
    }
  }

}
