body {
  @include mq-mobile (320px, 620px, 'portrait', '../img/photos/tracks-min-portrait.jpg');
  @include mq-mobile (620px, 320px, 'landscape', '../img/photos/tracks-min-landscape.jpg');
  @include mq-break (1024px) {
    background: url("../img/photos/tracks.jpg") no-repeat center center fixed;
    background-size: cover;
  };
}

.about-img,
.port-img {
  display: block;
  width: 80%;
  margin: auto;
  border-radius: 50%;
  border: 5px solid $color-background-tertiary;
}

.card img {
  max-width: 100%;
}
