.navbar {
  background: rgba(0, 0, 0, .45);
  font-size: 2em;
  color: white;
  & ul {
    display: flex;
    justify-content: center;
    padding: 1em;
    & li {
      padding: 0.5em;
      &:hover{
        color: #6092ca;
        background: rgba(0, 0, 0, 0.65);
        border-radius: 5px;
      }
    }
  }
}
