// .top-spacer{
//   height: 15vh;
// }
//
// .bottom-spacer {
//   height: 40vh;
// }

.home {
  @extend %section;
  height: 100vh;
}

.about {
  @extend %section;
  @extend %pagBackground;
  @extend %padding;
  @extend %sectionGrid;
  & h1 {
    margin: 0.5em 0;
    text-align: center;
  }
  & h3,
  p,
  ul,
  blockquote {
    font-size: 2em;
  }
  & ul,
  p {
    color: $color-font-tertiary;
  }
  & h3,
  blockquote,
  cite {
    color: $color-font-secondary;
  }
}

.portfolio {
  @extend %section;
  @extend %pagBackground;
  @extend %padding;
  @extend %sectionGrid;
  & h1 {
    margin-bottom: 0.5em;
  }
  & ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1em;
      padding: 1em;
      height: calc(100% - 6em);
      & li:hover {
        background: $color-background-tertiary;
        border-radius: 10px;
      }
    }
}

.contact {
  @extend %section;
  @extend %pagBackground;
  height: 100vh;
  & h1 {
    padding: calc(68px + 0.5em) 0;
    text-align: center;
  }
  &>.container>div>p {
    color: $color-font-secondary;
    text-align: center;
    margin-top: 3em;
  }
  & .contact-wrap {
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  & form {
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    padding: 2em;
    max-height: 100%;
  }
  & .message-wrap {
    padding-bottom: 2em;
  }
  & label {
    margin-top: 1em;
    padding: 0;
    color: $color-font-secondary;
  }
  & input {
    @extend %form-format;
  }
  & textarea {
    @extend %form-format;
    height: 100%;
  }
  & .social {
    padding: 2em;
    & ul {
      display: grid;
      grid-template-rows: auto;
      grid-gap: 1em;
      & li {
        display: grid;
        grid-template-columns: 3fr 1fr;
        & p {
          color: $color-font-secondary;
        }
        & img{
          display: block;
          margin-left: auto;
          height: 4em;
        }
      }
    }
  }
}
