.home {
  @extend %section;
  height: 100vh;
}

.about,
.contact {
  @include pageBG($color-background-five);
}

.about-wrap-right {
  background: $color-background-four;
  border-radius: 10px;
  padding: 10%;
  @include marginBottom;
}

.portfolio {
  @include pageBG($color-background-four);
}

.about,
.portfolio {
  @extend %section;
  @extend %padding;
  @extend %sectionGrid;
  & h1 {
    margin: 0.5em 0;
    text-align: center;
  }
  & h3,
  p,
  ul,
  blockquote {
    font-size: 1em;
    @include mq-break ($brk-point) {
      font-size: 2em;
    }
  }
  & ul,
  p {
    color: $color-font-tertiary;
  }
  & h3,
  blockquote,
  cite {
    color: $color-font-secondary;
  }
}

.portfolio li {
  padding: 1em 10%;
}

.card p {
  font-size: .65em;
}

h3,
.portfolio p {
  text-align: center;
}

.about h3:nth-last-child(-n+4),
.personal h3{
  padding-top: 2em;
}

.portfolio li {
  @media (min-width: 500px)
  and (max-width: 999px) {
    background: $color-background-tertiary;
    border-radius: 10px;
    margin-bottom: 1em;
    & >div>div>.overlay {
      top: 0;
    }
  }
  &:hover {
    @media (min-width: 1000px) {
      background: $color-background-tertiary;
      border-radius: 10px;
      & >div>div>.overlay {
        top: 0;
      }
    }
  }
}

.directory,
.game,
.registration,
.gallery,
.layout,
.dashboard {
  overflow: hidden;
  position: relative;
  & img {
    z-index: 0;
  }
  & .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    right: 0;
    background: $color-background-primary;
    z-index: 5;
    transition: top 1s ease;
    & p {
      margin-top: 2em;
      font-size: 1.1em;
      color: $color-font-secondary;
    }
  }
}

.personal {
  @include marginBottom;
}

.contact {
  @extend %section;
  height: 100vh;
  & h1 {
    padding: calc(34px + 0.5em) 0 0;
    text-align: center;
    @include mq-break (1000px) {
      padding: calc(68px + 2em) 0 1em;
    }
  }
  &>.container>div>p {
    color: $color-font-secondary;
    text-align: center;
    margin-top: 2em;
    @include mq-break ($brk-point) {
      margin-top: 3em;
    }
  }
  & .contact-wrap {
    display: grid;
    grid-template-columns: 1fr;
    @include mq-break ($brk-point) {
      max-height: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1em;
    }
  }
  & form {
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    @include mq-break (1000px) {
      padding: 2em;
      max-height: 100%;
    }
  }
  & .message-wrap {
    padding-bottom: 2em;
  }
  & label {
    margin-top: 1em;
    padding: 0;
    color: $color-font-secondary;
  }
  & input {
    @extend %form-format;
  }
  & textarea {
    @extend %form-format;
    height: 4em;
    @include mq-break (620px) {
      height: 6em;
    }
  }
  & .social {
    @include mq-break (1000px) {
      padding: 2em;
    }
    & ul {
      display: grid;
      grid-template-rows: auto;
      grid-gap: .25em;
      @include mq-break (1000px) {
        grid-gap: 1em;
      }
      & li {
        display: grid;
        grid-template-columns: 3fr 1fr;
        & p {
          color: $color-font-secondary;
          font-size: .65em;
          @include mq-break ($brk-point) {
            font-size: 1em;
          }
        }
        & img{
          display: block;
          margin-left: auto;
          height: 3em;
          @include mq-break (1000px) {
            height: 4em;
          }
        }
      }
    }
  }
}
